.about_data_container {
  flex: 1;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 30px;
  justify-content: space-evenly;
}

.about_data_card {
  width: 300px;
  overflow: hidden;
  height: 450px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgb(6, 2, 70);
}

.about_data_img {
  flex: 1;
  height: 200px;
  overflow: hidden;
}

.about_data_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s linear;
}

.about_data_img img:hover {
  transform: scale(1.2);
}

.about_data_title_container {
  flex: 1;
  padding: 10px;
}

.about_data_title_container h2 {
  font-family: "Cookie", cursive;
  color: #fff;
  font-size: 2em;
  text-shadow: 2px 2px #facafa;
}

.about_data_title_container ul {
  flex: 1;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.about_data_title_container ul li {
  display: flex;
  gap: 10px;
  align-items: center;
  flex: 1;
  height: 30px;
  align-items: center;
  border-radius: 10px;
  border-bottom: 1px solid rgb(6, 2, 70);
  padding: 0 10px;
}

.about_data_title_container ul li span {
  font-size: 18px;
  color: #fff;
  text-shadow: 2px 2px #facafa;
  width: 50%;
}

.about_data_title_container ul li p {
  font-size: 20px;
  font-family: "Cookie", cursive;
  color: rgb(6, 2, 70);
  width: 50%;
}

.about_data_card button {
  padding: 5px 17px;
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  color: #fff;
  background: rgb(0, 7, 61);
  font-size: 17px;
  transition: all 0.3s linear;
  font-family: "Cookie", cursive;
}

.about_data_card button:hover {
  background: rgb(6, 18, 106);
  color: #9bf873;
}

/* cart buttons */

.about_btn_cards {
  flex: 1;
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about_buttons_cards {
  flex: 1;
}

.about_btn_cards button,
.about_buttons_cards button {
  padding: 5px 17px;
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  color: #fff;
  background: rgb(0, 7, 61);
  font-size: 17px;
  transition: all 0.3s linear;
  font-family: "Cookie", cursive;
}

.about_buttons_cards button svg {
  font-size: 12px;
}
