* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* 
.padd {
  padding: 90px 3%;
} */

.scroll {
  flex: 1;
  max-height: 100vh;
  overflow-y: auto;
  position: relative;
}

.scroll .all_header {
  flex: 1;
  height: 91px;
  background: rgb(0, 7, 61);
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  left: 0;
  border-bottom: 1px solid #fff;
  z-index: 999;
}

.all_header h1 {
  color: #fff;
  font-size: 25px;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}
